<section class="root">
  <div class="row">
    <img src={{ToiletImg}} alt="toilet" />
    <p class="label">Toilet:</p>
    <p class="value">{{utils.getYesNo(aseos)}}</p>
  </div>
  <div class="row">
    <img src={{FootImg}} alt="foot" />
    <p class="label">Footbath:</p>
    <p class="value">{{utils.getYesNo(lavapies)}}</p>
  </div>
  <div class="row">
    <img src={{ShowerImg}} alt="shower" />
    <p class="label">Shower:</p>
    <p class="value">{{utils.getYesNo(duchas)}}</p>
  </div>
  <div class="row">
    <img src={{BinImg}} alt="bin" />
    <p class="label">Bin:</p>
    <p class="value">{{utils.getYesNo(papelera)}}</p>
  </div>
  <div class="row">
    <img src={{CleaningImg}} alt="cleaning service" />
    <p class="label">Cleaning service:</p>
    <p class="value">{{utils.getYesNo(servicioLimpieza)}}</p>
  </div>
  <div class="row">
    <img src={{TouristOfficeImg}} alt="tourist office" />
    <p class="label">Tourist office:</p>
    <p class="value">{{utils.getYesNo(oficinaTurismo)}}</p>
  </div>
  <div class="row">
    <img src={{TelephoneImg}} alt="telephone" />
    <p class="label">Telephone:</p>
    <p class="value">{{utils.getYesNo(telefonos)}}</p>
  </div>
  <div class="row">
    <img src={{BeachBarImg}} alt="beach bar" />
    <p class="label">Beach bar:</p>
    <p class="value">{{utils.getYesNo(establecimientoComida)}}</p>
  </div>
  <div class="row">
    <img src={{DrinkStandImg}} alt="drink stand" />
    <p class="label">Drink stand:</p>
    <p class="value">{{utils.getYesNo(establecimeintoBebida)}}</p>
  </div>
  <div class="row">
    <img src={{SunbedImg}} alt="sunbed rental" />
    <p class="label">Sunbed rental:</p>
    <p class="value">{{utils.getYesNo(alquilerHamacas)}}</p>
  </div>
  <div class="row">
    <img src={{UmbrellaImg}} alt="umbrella rental" />
    <p class="label">Beach umbrella rental:</p>
    <p class="value">{{utils.getYesNo(alquilerSombrillas)}}</p>
  </div>
  <div class="row">
    <img src={{NauticsRentalImg}} alt="nautics rental" />
    <p class="label">Nautics rental:</p>
    <p class="value">{{utils.getYesNo(alquilerNauticos)}}</p>
  </div>
  <div class="row">
    <img src={{NauticalClubImg}} alt="nautical club" />
    <p class="label">Nautical club:</p>
    <p class="value">{{utils.getYesNo(clubNautico)}}</p>
  </div>
  <div class="row">
    <img src={{DivingAreaImg}} alt="diving area" />
    <p class="label">Diving area:</p>
    <p class="value">{{utils.getYesNo(submarinismo)}}</p>
  </div>
  <div class="row">
    <img src={{SurfAreaImg}} alt="surf" />
    <p class="label">Surfing area:</p>
    <p class="value">{{utils.getYesNo(zonaSurf)}}</p>
  </div>
  <div class="row">
    <img src={{ChildrenAreaImg}} alt="children's are" />
    <p class="label">Children's area:</p>
    <p class="value">{{utils.getYesNo(zonaInfantil)}}</p>
  </div>
  <div class="row">
    <img src={{SportAreaImg}} alt="sport's are" />
    <p class="label">Sport's zone:</p>
    <p class="value">{{utils.getYesNo(zonaDeportiva)}}</p>
  </div>
</section>
