@import '../../../sass/styles.scss';

#map {
  // background-color: burlywood;
}

#mapdiv {
  width: 100%;
  height: 70vh;
}

.map__header {
  font-family: $font-display;
  font-weight: 300;
  text-align: center;
  font-size: 5rem;
  padding: 2rem 0rem;
  color: $color-grey-dark-2;
}
