<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container fullscreen>
  <!-- we left mat-sidenav here, instead of puting it inside app-sidenav-list because it has to be a direct child of container
    We could have passed sidenav to app-sidenav-list and mat-sidenav-content as an input,
    but Max says his solution is better due to loosely coupling
  -->
  <mat-sidenav #sidenav role="navigation" class="sidedrawer">
    <app-sidenav-list (close)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>

    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
