.wrapper {
  height: 100%;
  width: 100%;
  background-color: burlywood;
  position: relative;
}
#info-box {
  // display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
path:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
// .map {
//   width: 700px;
//   height: 700px;

// }
