@import '../../../../../theme_beaches.scss';

.card {
  width: 35rem;


}
.cardHeaderPrimaryBackgroundColor {
  //it has to be background not background-color
  background: linear-gradient(0deg,#fff 30%,#074c82 70%);
}
.cardHeaderAccentBackgroundColor {
  background:linear-gradient(0deg,#fff 30%,#FABC3D 70%);
}

.cardTitleBlueFlag {
  font-size: 1rem
}

.cardTitleNoBlueFlag {
  font-size: 1rem
}

.cardSubTitleBlueFlagColor {
  color: #3DABEE
}

.cardSubTitleNoBlueFlagColor {
  color: #976703
}


.image {
  width: 35rem;
  height: 22.5rem;
  object-fit: cover;
}

mat-card-content {
  min-height: 9rem;
  max-height: 9rem;
}

