.rootWrap {
  position: relative;
}

.root {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  grid-row-gap: 2rem;
  background-color: white;
  z-index: -2; // for the video
}



%video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  object-fit: cover;
  mask-image: linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,0.2),rgba(255,255,255,0.2));

}
.videoFull {
  height: 31vh;
  @extend %video
}
.video900 {
  height: 26vh;
  @extend %video
}

.video500 {
  height: 23vh;
  @extend %video
}

.titleWrapper {
  justify-self: center;
  margin: 4rem 2rem 2rem 2rem;
  font-size: 3rem;
  opacity: 0.87;
  font-weight: 300;
}
.title {
  display: inline-block;
  background: linear-gradient(to bottom right,rgba(255,255,255,0.7),rgba(255,255,255,1));
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-size: inherit;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.5);
  -moz-box-shadow:0 1.5rem 4rem rgba(0,0,0,.5);

}

