<mat-drawer-container  >
  <mat-drawer #drawer mode="over" [autoFocus]="false">
    <app-drawer [filters]="filters"
      (closeDrawer)="drawer.close()"></app-drawer>
  </mat-drawer>
  <mat-drawer-content>
    <section class="rootWrap">
      <div class="root">
        <div class=videoFull *ngIf="!isMobile">
          <video  autoplay muted loop>
            <source src="./assets/videos/video_compressed.mp4" type="video/mp4">
          Your browser is not supported!
          </video>
        </div>
        <div class=video900 *ngIf="video900">
          <video  autoplay muted loop>
            <source src="./assets/videos/video_compressed.mp4" type="video/mp4">
          Your browser is not supported!
          </video>
        </div>
        <div class=video500 *ngIf="video500">
          <video  autoplay muted loop>
            <source src="./assets/videos/videoMp4Width500.mp4" type="video/mp4">
          Your browser is not supported!
          </video>
        </div>
        <div class="titleWrapper">
          <span class="title">Advanced Search
          </span>
        </div>
        <div *ngIf="!isMobile">
          <app-search-filters
            [filters]="filters">
          </app-search-filters>
        </div>
        <div *ngIf="isMobile">
          <app-search-filters-mobile
          [filters]="filters"
          (drawerToggle)="drawer.toggle()">
          </app-search-filters-mobile>
        </div>
        <div fxLayout fxLayoutAlign="center center" *ngIf="loading">
          <mat-spinner>
          </mat-spinner>
        </div>
        <app-results-content
          *ngIf="!loading"
          [list]="filteredList"
        ></app-results-content>
      </div>
    </section>
  </mat-drawer-content>
</mat-drawer-container >
