<div class="root">
  <div class="generalPadding">
    <span class="textStyle" style="color: #BBDEFB">FILTERS</span>
    <!-- <img class="filterSize" src={filterIcon} alt="filter icon" /> -->
  </div>
  <!-- TYPE OF BEACH -->
  <div
    class="wrapper generalPadding">
    <div class="textWrapper">
      <span class="textStyle"  (click)="handleClick('typeOfBeach')">Type of Beach</span>
      <div class="menuTypeOfBeach" [ngClass]="setActiveTypeOfBeachMenu()" >
        <mat-list class="typeOfBeachListRoot">
          <mat-list-item>
            <mat-checkbox [checked]="filters.nudism" (change)="checkBoxHandler($event,'nudism')" color="accent">Nudism</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox [checked]="filters.blueFlag" (change)="checkBoxHandler($event,'blueFlag')" color="accent">Blue flag</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div fxLayout="column" style="margin: 2rem">
            <p style="font-size: 1.7rem">Beach max length</p>
            <div fxLayout fxLayoutAlign="center center">
              <p>50 m</p>
              <mat-slider
                min="0"
                max="100"
                [value]="beachLengthSliderValue"
                style="width: 30rem"
                (change)=onChangeSliderBeachLength($event)
                [formControl]="beachLengthSliderControl"
                    >
              </mat-slider>
              <p style="margin-left: 1rem">28k m</p>
            </div>
            <p fxFlexAlign="center">
              <span style="color: #D4AC16; font-style: bold; font-size: 2rem">{{filters.beachLength}}
              </span>
              meters
            </p>
          </div>
        </mat-list>
      </div>

    </div>
    <mat-icon  (click)="handleClick('typeOfBeach')">arrow_drop_down</mat-icon>
  </div>
  <!-- SERVICES -->
  <div
    class="wrapper generalPadding">
    <div class="textWrapper">
      <span class="textStyle"  (click)="handleClick('services')">Services</span>
      <div class="menuServices" [ngClass]="setActiveServicesMenu()" >
        <mat-list class="servicesListRoot">
          <mat-list-item>
            <mat-checkbox [checked]="filters.surfingArea" (change)="checkBoxHandler($event,'surfingArea')" color="accent">Surfing area</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox [checked]="filters.beachBar" (change)="checkBoxHandler($event,'beachBar')" color="accent">Beach Bar</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox [checked]="filters.nauticsRental" (change)="checkBoxHandler($event,'nauticsRental')" color="accent">Nautics rental</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox [checked]="filters.divingArea" (change)="checkBoxHandler($event,'divingArea')" color="accent">Diving area</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox [checked]="filters.sunbedRental" (change)="checkBoxHandler($event,'sunbedRental')" color="accent">Sunbed rental</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox [checked]="filters.beachUmbrellaRental" (change)="checkBoxHandler($event,'beachUmbrellaRental')" color="accent">Beach umbrella rental</mat-checkbox>
          </mat-list-item>
        </mat-list>

      </div>

    </div>
    <mat-icon  (click)="handleClick('services')">arrow_drop_down</mat-icon>

  </div>
  <!-- GENERAL -->
  <div
    class="wrapper generalPadding">
    <div class="textWrapper">
      <span class="textStyle"  (click)="handleClick('general')">General</span>
      <div class="menuGeneral" [ngClass]="setActiveGeneralMenu()">
        <mat-list class="generalListRoot">
          <mat-list-item>
            <mat-checkbox [checked]="filters.promenade" (change)="checkBoxHandler($event,'promenade')" color="accent">Promenade</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox [checked]="filters.disabledPersons" (change)="checkBoxHandler($event,'disabledPersons')" color="accent">Disabled persons</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <form>
            <mat-form-field style="margin-top: 1rem; margin-left: 2rem ;width: 13rem">
              <mat-label style="color: #fff">Select by</mat-label>
              <mat-select
                [(value)]="filters.occupancy"
                (selectionChange)="onOccupancyChange($event.value)">
                <mat-option value="All">
                  <em>All</em>
                </mat-option>
                <mat-option value="Alto">
                  High
                </mat-option>
                <mat-option value="Medio">
                  Average
                </mat-option>
                <mat-option value="Bajo">
                  Low
                </mat-option>
                <mat-option value="Medio / Alto">
                Average / High
                </mat-option>
                <mat-option value="Medio / Bajo">
                Average / Low
                </mat-option>
                <mat-option value="Muy bajo">
                Very Low
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <mat-divider></mat-divider>
          <div fxLayout="column" style="margin: 2rem">
            <p style="font-size: 1.7rem">Distance to hospital</p>
            <div fxLayout fxLayoutAlign="center center">
              <p>0 Km</p>
              <mat-slider
                min="0"
                max="120"
                [value]="hospitalDistanceSliderValue"
                style="width: 22rem"
                thumbLabel
                (change)="onChangeSliderHospitalDistance($event)"
                [formControl]="hospitalDistanceControl">
              </mat-slider>
              <p style="margin-left: 1rem">120km</p>
            </div>

          </div>
        </mat-list>

      </div>
    </div>
    <mat-icon  (click)="handleClick('general')" >arrow_drop_down</mat-icon>

  </div>
  <!-- SELECT -->
  <form>
    <mat-form-field  style="margin-top: 2rem; width: 13rem" >
      <mat-label style="color: #fff">Select by</mat-label>
      <mat-select [(value)]="filters.selectText" (selectionChange)="onSelectionChange($event.value)">
        <mat-option value="termino_municipal">
          Locality
        </mat-option>
        <mat-option value="nombre">
          Beach name
        </mat-option>
        <mat-option value="comunidad_autonoma">
          Region
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  style="text-align: left; margin-left: 2rem">
      <input matInput placeholder="Contain text" [formControl]="inputControl" [value]="filters.searchText">
    </mat-form-field>

  </form>

  <!-- RESET -->
  <div class="wrapper generalPadding">
    <p style="opacity: 0.6" (click)="handleOnReset()">Reset</p>
  </div>
</div>
